@charset "utf-8";

html {
   background-color: rgb(255, 255, 255);
}

body {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 1fr;
    grid-template-areas:    "header header"
                            "div div"
                            "div div"
                            "div div"
                            "footer footer";
    grid-gap: 35px;
justify-content: center;
}


/* Page Header Styles */
body > header > img {
    display: block;
    width: 50%;
    margin: auto;
 }
 
header {
   grid-row: 1;
   grid-column: 1/-1;
   background-color: white;
   width:100%;
   padding-top: 3%;
 }
 
 /* Horizontal Navigation List Styles */
 nav.horizontalNavigation > ul > li {
    display: inline;
    text-align: center;
    padding:4%;
 }

 nav.horizontalNavigation ul {
   text-align: center;
   list-style-type:none;
   width: 100%;
   padding:.5%;
   background-color: rgb(79, 129, 158);
 }
 
 nav.horizontalNavigation a {
   text-decoration:none;
    font-size: 1.4em;
    text-align: center;
    width: 100%;
 }  
 
 nav.horizontalNavigation a:link, 
 nav.horizontalNavigation a:visited {
    color: rgb(215, 234, 240);
 }
 
 nav.horizontalNavigation a:hover, 
 nav.horizontalNavigation a:active {
    background-color: rgb(38, 68, 92);
 }

 /*other*/
#welcome {
  width:200%;
}
#categories {
   display:block;
   text-align: center;
   background-color: rgb(127, 204, 255);
   padding: 10%;
   width:50%;
   height:30%;
   margin-left: 25%;
 }

footer {
   display:flex;
   color: rgb(215, 234, 240);
   background-color: rgb(79, 129, 158);
   margin-top: 7%;
   width:204%;
   justify-content: center;
   height:30%;
   padding:1%
 }


 /*Form Styles*/
input[type=reset], input[type=submit] {
   background-color: #5598be;
   border: none;
   color: white;
   padding: 8px 16px;
   text-decoration: none;
   margin: 4px 2px;
   cursor: pointer;
 }

 #title {
grid-column: 1/-1;
grid-row: 2;
padding: 0;
width:100%;
text-align: center;
 }

 #contact {
grid-column: 1/-1;
grid-row: 3;
padding: 0;
width:100%;
text-align: center;
 }


 #bodyform {
   display: grid;
   grid-template-rows: 2fr 1fr 2fr 1fr;
   grid-template-areas:    "header"
                           "section"
                           "section"
                           "footer";
 }


 #bodycat {
  display: grid;
  grid-template-rows: 0.5fr 2fr 0.6fr;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  grid-template-areas:    "header"
                          "div div div"
                          "footer";
}

#footerc {
  width: 311%;
}
div.card {
  display: flex;
  margin-left: 18%;
  background-color: rgb(161, 189, 241);
  height: 75%;
}

#accordionExample {
  margin-left: 50%;
  width: 100%;
}

#fishpic {
  width: 50%;
}
#bodyfish {
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.45fr;
  grid-template-columns: 0.49fr 0.49fr;
  grid-template-areas:    "header"
                          "div"
                          "footer";
}

 /*Gallery Styles (in dog category)*/

 div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  margin-left: 90%;
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

 #footerd {
   margin:auto;
   padding: 0;
   height:20%;
   width:100%;
   grid-column: 1/-1;
   grid-row: 5;
 }

#gallery {
  justify-content: center;
}

div {
  text-align: center;
}